extends ./layout.jade

block body
    .row
        .medium-9.large-8.columns
            .wrapper
                section.text-content
                    h1.no-meta-data= title
                    div!= contents

        aside.medium-3.large-4.columns
            .wrapper
                p Sidebar
