.homepage {
    .intro {
        position: relative;
        padding: 5em 0 3em;
        margin-bottom: $half-padding;
        border-bottom: 1px solid $light-grey-color;

        h1 {
            position: relative;
            color: $primary-color;
            text-align: center;
            z-index: 10;
        }

        .bird {
            width: 362px;
            height: 147px;
            position: absolute;
            right: 0px;
            bottom: 0px;
            z-index: 9;
        }
    }

    .articles {
        .article {
            font-size: 1.1em;
            text-align: justify;
            margin-bottom: $half-padding;
            height: 200px;
            overflow: hidden;
            position: relative;

            // Fading gradient
            &:before {
                content: '';
                width: 100%;
                height: 100px;
                position: absolute;
                left: 0;
                bottom: 0;
                background: linear-gradient(transparent 30px, white);
            }

            &.last-row, p:last-child {
                margin-bottom: 0;
            }

            h3 {
                text-align: left;
                line-height: 1.3em;
                margin-bottom: ($quarter-padding / 2);
            }

            .meta-data {
                color: $grey-color;
                font-family: $header-font-family;
                font-weight: 300;
                padding-bottom: ($quarter-padding / 2);;
                margin-bottom: $quarter-padding;
                border-bottom: 1px solid $light-grey-color;

                span {
                    margin-right: $quarter-padding;
                }

                // Disqus counter
                a {
                    color: $grey-color;
                    cursor: default;
                    border-bottom: none;

                    &:hover {
                        background-color: transparent;
                    }
                }
            }

            p {
                line-height: 1.7em;
            }
        }
    }
}
