extends ./layout.jade

block body
    div.row: div.large-12.columns
        ul.posts
            //- each post in collections.posts
                li
                    a(href=post.path)
                        h1= post.title
                    time(datetime=post.date.toISOString())= post.prettyDate
