.tooltipster-gra {
    border-radius: 3px;
    border: 1px solid darken($light-primary-color, 5%);
    background: $light-primary-color;
    color: $primary-color;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}

/* Use this next selector to style things like font-size and line-height: */
.tooltipster-gra .tooltipster-content {
    font-family: $header-font-family;
    line-height: 1.25em;
    padding: $quarter-padding;

    &, p, ul {
        font-size: rem-calc(14);
    }

    p {
        margin-bottom: $quarter-padding;
    }

    ul {
        margin: 0;

        li {
            list-style: none;
        }
    }
}
