@charset "UTF-8";

@import "foundation-settings";
@import "foundation-custom";

html {
    background-color: #222;
}

body {
    background-color: #fff;
    height: auto;
}

hr {
    border-color: #eee;
}

.no-wrap {
    white-space: nowrap;
}

.wide.button {
    width: 100%;
}

.content {
    margin-top: 1em;
    margin-bottom: 2em;
}

.header {
    $height: 45px;
    background-color: #fefafc;
    height: $height;

    h1 {
        float: left;
        margin: 0;
        font-weight: 500;
        line-height: $height;
    }

    ul {
        margin-left: 0;

        li {
            list-style: none;
            display: inline-block;

            a {
                padding: 0 1em;
                font-family: $header-font-family;
                text-transform: uppercase;
                font-size: .8em;
                line-height: $height;
                display: inline-block;
            }
        }
    }

    .locales {
        float: right;
    }

    .menu {
        float: right;

        li {
            border-right: 1px solid #f7e6f0;
        }
    }
}

.footer {
    background-color: #222;
    padding: 1em 0 2em;
    color: #aaa;
    border-top: 5px solid #ddd;

    p {
        text-align: left;
        font-weight: 200;
        font-family: $header-font-family;
        font-size: em-calc(13);
    }

    .foot {
        border-top: 1px solid #333;
        padding-top: .5em;
    }
}

.about-modal {
    border-radius: 3px;

    p {
        text-align: justify;
    }

    :last-child {
        margin-bottom: 0;
    }
}

.homepage {
    .intro {
        position: relative;
        padding: 5em 0 3em;
        margin-bottom: 1.5em;
        border-bottom: 1px solid #ddd;

        h1 {
            position: relative;
            color: #b63984;
            text-align: center;
            z-index: 10;
        }

        .bird {
            width: 362px;
            height: 147px;
            position: absolute;
            right: 0px;
            bottom: 0px;
            z-index: 9;
        }
    }

    .articles {
        margin-bottom: 2em;

        /*
        .separator {
            border-top: 1px dotted #eee;
            padding-top: 1em;
        }
        */

        .article {
            font-size: 1.1em;
            text-align: justify;
            margin-bottom: 1.5em;
            height: 240px;
            overflow: hidden;
            position: relative;

            h3 {
                text-align: left;
                line-height: 1.15em;
            }

            p {
                line-height: 1.5em;
            }

            p:last-child {
                margin-bottom: 0em;
            }

            // Fading gradient
            &:before {
                content: '';
                width: 100%;
                height: 100px;
                position: absolute;
                left: 0;
                bottom: 0;
                background: linear-gradient(transparent 30px, white);
            }

            .date {
                color: #666;
                font-family: $header-font-family;
                margin-top: -0.35em;
                border-bottom: 1px solid #eee;
                padding-bottom: 0.2em;
                margin-bottom: 0.8em;
                font-weight: 300;
            }

            .more {
                $size: 40px;

                font-size: 0.9em;
                font-family: $header-font-family;
                background-color: #b63984;
                color: #fefafc;

                position: absolute;
                right: 10px;
                bottom: 10px;
                width: $size;
                height: $size;
                border-radius: $size;
                text-align: center;
                line-height: $size;
                box-shadow: 1px 2px 2px rgba(0,0,0,0.1)

                &:hover {
                    background-color: #888;
                }
            }
        }
    }
}

.vanilla {
    .article {
        h1.no-subtitle {
            border-bottom: 1px solid #eee;
            padding-bottom: .1em;
        }

        h1.with-subtitle {
            margin-bottom: -0.1em;
        }

        .subtitle {
            font-size: em-calc(18);
            margin-bottom: 1.2em;
            margin-top: 0;
            border-bottom: 1px solid #eee;
            padding-bottom: .5em;
        }

        .alert-box {
            line-height: 1.4em;
        }

        .img-center {
            text-indent: 0;
            width: 100%;
            margin-top: 1em;
            margin-bottom: 1em;
        }

        .img-right {
            float: right;
            margin-left: 1.5em;
            margin-top: 1em;
            margin-bottom: 1em;
        }

        .img-left {
            float: left;
            margin-right: 1.5em;
            margin-top: 1em;
            margin-bottom: 1em;
        }

        .no-top-margin {
            margin-top: 0;
        }

        a[id^=note-] {
            vertical-align: super;
            font-size: .7em;
        }

        strong {
            color: #000;
        }

        h2, h3, h4, h5, h6 {
            margin-top: 1em;
        }

        p {
            text-indent: 2em;
            text-align: justify;
            margin-bottom: .5em;
            line-height: 1.75em;
            font-size: rem-calc(18);

            &:first-child {
                text-indent: 0;
            }
        }

        ul, ol {
            padding: 0 2em 0 2em;
            font-size: em-calc(16px);

            li {
                margin-bottom: 0.5em;
            }

            p {
                text-indent: 0;
            }
        }

        blockquote {
            margin-left: 2em;
            margin-right: 4em;

            p {
                text-indent: 0;
            }
        }

        h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p, ul + p {
            text-indent: 0;
        }

        .comments {
            margin-top: 2em;
        }

        .notes {
            margin-top: 2em;
            border-top: 1px solid #eee;
            padding-top: 2em;
            font-size: .8em;

            li {
                line-height: 1.75em;
                margin-bottom: .5em;
            }
        }
    }

    .nipple-box {
        padding-left: 8px;
        position: relative;

        .nipple {
            position: absolute;
            display: block;
            width: 8px;
            height: 13px;
            background: transparent url(/assets/nipple.png) no-repeat;
            top: 10px;
            left: 1px;
        }

        .button {
            background-color: #fff;
            color: #aaa;
            border-color: #aaa;
        }
    }

    .sidebar {
        padding-top: .5em;

        .files {
            li {
                font-size: 1.1em;
                font-family: $header-font-family;
                font-weight: 300;
                list-style-type: none;
                margin-left: 1.4em;
                text-indent: -1.4em;
                margin-bottom: .5em;
            }
        }

        .comments {
            a {
                margin-bottom: 0;
            }
        }

        .articles {
            ul {
                margin-bottom: 0;

                li {
                    font-size: 1.1em;
                    font-family: $header-font-family;
                    font-weight: 300;
                    list-style-type: none;
                    margin-left: .8em;
                    text-indent: -.8em;
                    margin-bottom: 0.2em;
                }
            }
        }
    }
}

// EXTRAS
@import "reforma-revolucio";
